Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: bash -c 'cd server && uv run mypy .'
  language: system
  stages:
  - pre-push

ruff-linting:
  name: Run Linting in server
  entry: bash -c 'cd server && uv run ruff check'
  language: system
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test:single'
  language: system
  pass_filenames: false
  stages:
  - pre-push

:wrench: Update CI to use uv
  .github/workflows/main.yml
  server/hello.py
Due: check-mypy, ruff-linting

:wrench: Add uv & ruff
  .pre-commit-config.yaml
  README.md
  server/.gitignore
  server/.python-version
  server/Dockerfile
  server/README.md
  server/app/domains/__init__.py
  server/app/domains/store_service.py
  server/app/domains/synchronization_service.py
  server/app/domains/type_def.py
  server/app/domains/user_service.py
  server/app/main.py
  server/app/repositories/__init__.py
  server/app/repositories/mongo_repository.py
  server/app/repositories/repository.py
  server/app/repositories/story_progress_repository.py
  server/app/repositories/story_progress_repository_port.py
  server/app/repositories/story_repository.py
  server/app/repositories/story_repository_port.py
  server/app/repositories/user_repository.py
  server/app/repositories/user_repository_port.py
  server/app/request_types.py
  server/app/utils/__init__.py
  server/app/utils/db.py
  server/app/utils/error_adapter.py
  server/app/utils/errors.py
  server/app/utils/meta.py
  server/hello.py
  server/pyproject.toml
  server/requirements.txt
  server/type-check.sh
  server/uv.lock
Due: check-mypy, ruff-linting

:lipstick: Reorganize game-detail page
  client/bun.lockb
  client/package.json
  client/src/design-system/primitives/separator.tsx
  client/src/library/detail.tsx
  client/src/library/game-banner.tsx
  client/src/library/game-detail.tsx
  client/src/library/game-info.tsx
  client/src/library/saves-detail.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/services/__tests__/library-service.test.ts
  client/src/services/common/schemas.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Delete game in library
  client/src/library/delete-game-button.tsx
  client/src/library/game-detail.tsx
  client/src/services/__tests__/library-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:fire: Remove store from API
  server/app/domains/store_service.py
  server/app/main.py
  server/request_http/store.http
Due: check-mypy, ruff-linting

:wrench: Add uv & ruff
  server/hello.py
  server/uv.lock
Due: check-mypy, ruff-linting

:fire: Remove store from client
  client/src/builder/components/story-publisher.tsx
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/game/components/scene.tsx
  client/src/home/home.tsx
  client/src/home/store-section.tsx
  client/src/lib/http-client/schema.d.ts
  client/src/library/library.tsx
  client/src/navbar/navbar.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  client/src/routeTree.gen.ts
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/__tests__/library-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/index.ts
  client/src/services/library-service.ts
  client/src/services/store-service.ts
  client/src/store/confirm-download-dialog.tsx
  client/src/store/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:fire: Remove unused file
  server/hello.py
Due: check-mypy, ruff-linting

:card_file_box: Add dexie seeding
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/dexie/seed.ts
Due: check-typescript, check-lint, check-format, client-test

:speech_balloon: Update imported story name
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/dexie/seed.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Seed DB
  client/bun.lockb
  client/src/design-system/components/story-card.tsx
  client/src/home/builder-showcase.tsx
  client/src/lib/storage/dexie/seed.ts
  client/src/lib/storage/domain.ts
  client/src/services/common/schemas.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:alembic: Try to fix routing bug in vercel
  client/vercel.json
Due: check-typescript, check-lint, check-format, client-test

:fire: Remove tanstack query dev tools
  client/bun.lockb
  client/package.json
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Open scene editor on double click
  client/src/builder/components/builder.tsx
  client/src/builder/components/editors/scene-editor.tsx
  client/src/builder/nodes/scene/scene.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix edges not always rendered in builder
  client/src/builder/hooks/use-builder.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Use story type instead of status to determine if a story is in the builder or in the library
  client/src/routeTree.gen.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Add authentification dependency
  server/app/context.py
  server/app/domains/auth_service.py
  server/app/domains/synchronization_service.py
  server/app/main.py
  server/app/repositories/user_repository.py
  server/app/repositories/user_repository_port.py
Due: check-mypy, ruff-linting

:lock: create token on auth endpoints
  server/.env.example
  server/app/domains/type_def.py
  server/app/domains/user_service.py
  server/app/request_types.py
  server/pyproject.toml
  server/uv.lock
Due: check-mypy, ruff-linting

:construction: Store token after auth
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/components/navbar-actions.tsx
  client/src/services/user-service.ts
  server/app/main.py
  server/app/request_types.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:fire: Remove store from client
  client/src/routeTree.gen.ts
  client/src/services/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Add token to requests in client
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routeTree.gen.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/sync-service.ts
  server/app/domains/auth_service.py
  server/app/domains/synchronization_service.py
  server/app/main.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:lock: Add right checks in server
  .gitattributes
  server/app/domains/synchronization_service.py
  server/app/endpoints/synchronization/builder.py
  server/app/endpoints/synchronization/get.py
  server/app/endpoints/synchronization/progress.py
  server/app/main.py
  server/app/request_types.py
  server/app/utils/error_adapter.py
  server/app/utils/errors.py
Due: check-mypy, ruff-linting

:bug: Fix endpoints returning nothing
  client/src/services/__tests__/library-service.test.ts
  server/app/domains/synchronization_service.py
  server/app/endpoints/__init__.py
  server/app/endpoints/synchronization/__init__.py
  server/app/endpoints/synchronization/progress.py
  server/app/main.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:see_no_evil: Hide files from github reviews
  .gitattributes
Due: none

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  ruff-linting: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
