Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: server/type-check.sh
  language: script
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix import && zodError
  client/src/builder/components/import-modal.tsx
Due: check-typescript, check-lint, check-format, client-test

:memo: Update follow-up document
  cahier-des-charges-story-builder_08-07-24.pdf
  cahier-des-charges-story-builder_22-07-24.pdf
Due: none

add publicationDate zod
  client/src/builder/components/import-modal.tsx
Due: check-typescript, check-lint, check-format, client-test

:construction: work on sync
  client/.prettierignore
  client/package.json
  client/src/auth-modal-form.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/constants.ts
  client/src/hooks/use-remote-story-progress.tsx
  client/src/hooks/use-synchronization.ts
  client/src/hooks/use-user.ts
  client/src/lib/http-client/index.ts
  client/src/lib/http-client/schemas.gen.ts
  client/src/lib/http-client/services.gen.ts
  client/src/lib/http-client/types.gen.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/store/confirm-download-dialog.tsx
  server/src/data_types/builder.py
  server/src/data_types/game.py
  server/src/data_types/response.py
  server/src/data_types/user.py
  server/src/domains/store_domain.py
  server/src/domains/synchronization_domain.py
  server/src/main.py
  server/src/repositories/story_progress_repository.py
  server/src/repositories/story_progress_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: use-synchronization hook
  client/src/hooks/use-synchronization.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/indexed-db-repository.ts
  client/src/lib/storage/port.ts
  client/src/routes/index.tsx
  client/src/types.ts
  server/src/data_types/synchronization.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: work on progress synchro
  client/package.json
  client/src/design-system/primitives/tooltip.tsx
  client/src/game/components/scene.tsx
  client/src/hooks/use-remote-story-progress.tsx
  client/src/routeTree.gen.ts
  client/src/routes/game/$gameKey/$sceneKey.tsx
  server/src/data_types/game.py
  server/src/data_types/requests.py
  server/src/domains/synchronization_domain.py
  server/src/main.py
  server/src/repositories/story_progress_repository.py
  server/src/repositories/story_progress_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: Get synchronization data
  client/.eslintrc.cjs
  client/src/hooks/use-is-online.ts
  client/src/hooks/use-synchronization.ts
  client/src/routeTree.gen.ts
  server/src/data_types/game.py
  server/src/data_types/synchronization.py
  server/src/domains/synchronization_domain.py
  server/src/main.py
  server/src/repositories/story_progress_repository.py
  server/src/repositories/story_progress_repository_port.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: change open api generator
  client/.prettierignore
  client/package.json
  client/src/auth-modal-form.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/hooks/use-remote-story-progress.tsx
  client/src/hooks/use-synchronization.ts
  client/src/hooks/use-user.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/client.ts
  client/src/lib/http-client/index.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/http-client/schemas.gen.ts
  client/src/lib/http-client/services.gen.ts
  client/src/lib/http-client/types.gen.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/string.ts
  client/src/routes/game/$gameKey/index.tsx
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/store/confirm-download-dialog.tsx
  client/tsconfig.json
Due: check-typescript, check-lint, check-format, client-test

:construction: beginning of synchro in navbar
  client/src/builder/components/builder-stories.tsx
  client/src/builder/components/export-modal.tsx
  client/src/builder/components/import-modal.tsx
  client/src/builder/hooks/use-builder-stories.tsx
  client/src/design-system/primitives/tooltip.tsx
  client/src/hooks/use-synchronization.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/navbar.tsx
  client/src/navbar/navbar.tsx
  client/src/navbar/synchronization-state.tsx
  client/src/navbar/user-display.tsx
  client/src/routes/__root.tsx
  client/src/store/confirm-download-dialog.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Refacto http client adatpers
  client/src/builder/hooks/use-publish-story.tsx
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/hooks/use-synchronization.ts
  client/src/lib/http-client/adapters.ts
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/store/confirm-download-dialog.tsx
Due: check-typescript, check-lint, check-format, client-test

:monocle_face: Add mongo CSV export script
  .gitignore
  tools/README.md
  tools/collection_fields/action.txt
  tools/collection_fields/scene.txt
  tools/collection_fields/story.txt
  tools/collection_fields/story_progress.txt
  tools/collection_fields/user.txt
  tools/db_scripts/action_aggregation.js
  tools/db_scripts/scene_aggregation.js
  tools/mongo_extract.sh
Due: none

:card_file_box: Add generated CSVs
  .gitignore
  data/actions.csv
  data/scenes.csv
  data/stories.csv
  data/story_progresses.csv
  data/users.csv
  tools/README.md
  tools/mongo_extract.sh
Due: none

:children_crossing: Display time of last synchronization
  client/src/home/last-game-section.tsx
  client/src/lib/date.ts
  client/src/library/detail-progress.tsx
  client/src/navbar/hooks/use-synchronization.ts
  client/src/navbar/hooks/use-time-from-last-sync.ts
  client/src/navbar/navbar.tsx
  client/src/navbar/synchronization-state.tsx
  client/src/routes/__root.tsx
  client/tailwind.config.js
Due: check-typescript, check-lint, check-format, client-test

:card_file_box: Add finished field in story progress
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  server/src/data_types/game.py
  tools/collection_fields/story_progress.txt
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: Update story progress when the story is finished
  client/src/game/components/scene.tsx
  client/src/game/hooks/use-update-story-progress.ts
  client/src/hooks/use-game-scene.ts
  client/src/lib/storage/dexie/indexed-db-repository.ts
  client/src/lib/storage/port.ts
  client/src/routes/game/$gameKey/$sceneKey.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix broken edges in builder
  client/src/builder/components/editors/scene-editor.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder.tsx
  client/src/design-system/components/story-card.tsx
  client/src/library/story-list.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: End of story screen in game
  client/src/design-system/components/divider.tsx
  client/src/game/components/scene.tsx
  client/src/home/divider.tsx
  client/src/home/home.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/routes/game/$gameKey/index.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: End of story UI in library
  client/src/builder/components/builder-stories.tsx
  client/src/design-system/components/story-card.tsx
  client/src/game/components/scene.tsx
  client/src/home/store-items.tsx
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/indexed-db-repository.ts
  client/src/lib/storage/port.ts
  client/src/library/detail-completed.tsx
  client/src/library/detail-progress.tsx
  client/src/library/library.tsx
  client/src/library/story-list.tsx
  client/src/routes/library/index.tsx
  client/src/store/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:memo: Update follow-up document
  cahier-des-charges-story-builder_19-08-24.pdf
Due: none

:wrench: Fix sharp issue on linux
  client/package.json
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Improve UX in builder toolbar
  client/src/builder/components/toolbar.tsx
Due: check-typescript, check-lint, check-format, client-test

:construction: synchronize in game
  client/src/design-system/primitives/index.ts
  client/src/game/components/scene.tsx
  client/src/hooks/use-remote-story-progress.tsx
  client/src/hooks/use-save-story-progress.tsx
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/indexed-db-repository.ts
  client/src/lib/storage/port.ts
  client/src/navbar/hooks/use-synchronization.ts
  client/src/routes/game/$gameKey/index.tsx
  server/src/data_types/game.py
  server/src/data_types/synchronization.py
  server/src/domains/synchronization_domain.py
  tools/collection_fields/story_progress.txt
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: Start implementing repositories and services in the frontend
  client/src/builder/components/import-modal.tsx
  client/src/builder/components/story-form/schema.ts
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder-stories.tsx
  client/src/builder/hooks/use-builder.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/builder/nodes/scene/scene.tsx
  client/src/game/hooks/use-update-story-progress.ts
  client/src/hooks/use-save-story-progress.tsx
  client/src/hooks/use-user.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/hooks/use-synchronization.ts
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/routes/__root.tsx
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/routes/game/$gameKey/index.tsx
  client/src/routes/index.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/routes/library/index.tsx
  client/src/services/builder-service.ts
  client/src/services/game-service.ts
  client/src/services/store-service.ts
  client/src/store/confirm-download-dialog.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - continue service refacto
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/hooks/use-save-story-progress.tsx
  client/src/navbar/hooks/use-synchronization.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/services/common/sync.ts
  client/src/services/game-service.ts
  client/src/services/store-service.ts
  client/src/store/confirm-download-dialog.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - JSON import
  client/src/builder/components/import-modal.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/services/builder/index.ts
  client/src/services/builder/schemas.ts
  client/src/services/builder/service.ts
  client/src/services/index.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - continue service refacto
  client/src/auth-modal-form.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/hooks/use-user.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/repositories/index.ts
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/services/builder-service.ts
  client/src/services/common/sync.ts
  client/src/services/user-service.ts
  server/src/domains/store_domain.py
  server/src/main.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - scenes & stories in builder
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-publish-story.tsx
  client/src/builder/nodes/scene/scene.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/services/builder/builder-service.ts
  client/src/services/builder/index.ts
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - all routes
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder-stories.tsx
  client/src/builder/hooks/use-builder.tsx
  client/src/game/hooks/use-update-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routes/__root.tsx
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/routes/game/$gameKey/index.tsx
  client/src/routes/index.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/routes/library/index.tsx
  client/src/services/builder/builder-service.ts
  client/src/services/game-service.ts
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto - use effects to trigger synchronization
  client/src/builder/components/builder.tsx
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-sync-builder.ts
  client/src/builder/hooks/use-synchronize-builder.tsx
  client/src/builder/hooks/use-toolbar.tsx
  client/src/design-system/components/story-card.tsx
  client/src/game/components/index.ts
  client/src/game/components/scene.tsx
  client/src/game/hooks/index.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/hooks/use-save-story-progress.tsx
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/routes/__root.tsx
  client/src/services/builder/builder-service.ts
  client/src/services/game-service.ts
  server/src/main.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/navbar/hooks/use-synchronization.ts
  client/src/navbar/hooks/use-time-from-last-sync.ts
  client/src/navbar/navbar.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routes/__root.tsx
  client/src/services/builder/builder-service.ts
  client/src/services/common/sync.ts
  client/src/services/game-service.ts
  client/src/services/sync-service.ts
  server/src/data_types/builder.py
  server/src/data_types/game.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto - switch to simple buttons
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/index.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/navbar/hooks/use-synchronization.ts
  client/src/navbar/hooks/use-time-from-last-sync.ts
  client/src/navbar/navbar.tsx
  client/src/navbar/synchronization-bar.tsx
  client/src/navbar/synchronization-state.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routes/__root.tsx
  client/src/routes/game/$gameKey/index.tsx
  client/src/services/builder/builder-service.ts
  client/src/services/common/sync.ts
  client/src/services/game-service.ts
  client/src/services/sync-service.ts
  server/src/data_types/requests.py
  server/src/domains/builder_domain.py
  server/src/domains/synchronization_domain.py
  server/src/main.py
  server/src/repositories/story_progress_repository.py
  server/src/repositories/story_progress_repository_port.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:sparkles: Load & save data from navbar
  client/src/design-system/components/backdrop-loader.tsx
  client/src/design-system/components/index.ts
  client/src/design-system/components/loader.tsx
  client/src/navbar/components/load-menu-item.tsx
  client/src/navbar/components/navbar-actions.tsx
  client/src/navbar/components/save-menu-item.tsx
  client/src/navbar/components/user-dropdown.tsx
  client/src/navbar/hooks/use-sync.ts
  client/src/navbar/navbar.tsx
  client/src/navbar/synchronization-bar.tsx
  client/src/routeTree.gen.ts
  client/src/routes/__root.tsx
  client/src/routes/about.tsx
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/routes/game/$gameKey/index.tsx
  client/src/routes/index.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/routes/library/index.tsx
  client/src/routes/store.tsx
  client/src/services/game-service.ts
  client/src/services/sync-service.ts
  server/src/repositories/story_progress_repository.py
  server/src/repositories/story_repository.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:sparkles: Log out & about page
  client/src/design-system/components/title.tsx
  client/src/navbar/components/actions-dropdown.tsx
  client/src/navbar/components/navbar-actions.tsx
  client/src/navbar/navbar.tsx
  client/src/routes/about.tsx
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:twisted_rightwards_arrows: Rebase
  client/src/hooks/use-game-scene.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  server/src/data_types/builder.py
  server/src/data_types/game.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: Start implementing repositories and services in the frontend
  client/src/hooks/use-save-story-progress.tsx
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/routes/library/index.tsx
  client/src/services/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Load & save data from navbar
  client/src/navbar/synchronization-bar.tsx
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  server/src/data_types/builder.py
  server/src/data_types/game.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:lipstick: Change logo
  client/package.json
  client/public/apple-touch-icon-180x180.png
  client/public/favicon.ico
  client/public/maskable-icon-512x512.png
  client/public/pwa-192x192.png
  client/public/pwa-512x512.png
  client/public/pwa-64x64.png
  client/public/story-builder-logo.svg
  client/pwa-assets.config.ts
  client/vite.config.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Little UI improvements
  client/src/design-system/components/divider.tsx
  client/src/design-system/components/index.ts
  client/src/home/builder-showcase.tsx
  client/src/home/home.tsx
  client/src/home/store-items.tsx
  client/src/home/store-section.tsx
  client/src/library/detail.tsx
  client/src/navbar/navbar.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
