Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:construction: Add token to requests in client
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/routeTree.gen.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/sync-service.ts
  server/app/domains/auth_service.py
  server/app/domains/synchronization_service.py
  server/app/main.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:sparkles: Use story type instead of status to determine if a story is in the builder or in the library
  client/src/routeTree.gen.ts
Due: check-typescript, check-lint, check-format, client-test

:fire: Remove store from client
  client/src/routeTree.gen.ts
  client/src/services/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Store token after auth
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/navbar/components/navbar-actions.tsx
  client/src/services/user-service.ts
  server/app/main.py
  server/app/request_types.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:lock: create token on auth endpoints
  server/.env.example
  server/app/domains/type_def.py
  server/app/domains/user_service.py
  server/app/request_types.py
  server/pyproject.toml
  server/uv.lock
Due: check-mypy, ruff-linting

:bug: Fix endpoints returning nothing
  client/src/services/__tests__/library-service.test.ts
  server/app/domains/synchronization_service.py
  server/app/endpoints/__init__.py
  server/app/endpoints/synchronization/__init__.py
  server/app/endpoints/synchronization/progress.py
  server/app/main.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:see_no_evil: Hide files from github reviews
  .gitattributes
Due: none

:lock: Add right checks in server
  .gitattributes
  server/app/domains/synchronization_service.py
  server/app/endpoints/synchronization/builder.py
  server/app/endpoints/synchronization/get.py
  server/app/endpoints/synchronization/progress.py
  server/app/main.py
  server/app/request_types.py
  server/app/utils/error_adapter.py
  server/app/utils/errors.py
Due: check-mypy, ruff-linting

:rocket: Add heroku deployment for server
  heroku.yml
  server/Dockerfile
Due: none

:rocket: Config for full deployment
  client/.env
  client/src/lib/http-client/client.ts
  heroku.yml
  server/Dockerfile
  server/pyproject.toml
  server/uv.lock
Due: check-typescript, check-lint, check-format, client-test

:construction: Add authentification dependency
  server/app/context.py
  server/app/domains/auth_service.py
  server/app/domains/synchronization_service.py
  server/app/main.py
  server/app/repositories/user_repository.py
  server/app/repositories/user_repository_port.py
Due: check-mypy, ruff-linting

:lock: Fix CORS issueé
  server/app/main.py
Due: check-mypy, ruff-linting

:rocket: Deploy on VPS
  .github/workflows/main.yml
  docker-compose.yaml
Due: none

:alembic: Push image to GHCR
  .github/workflows/main.yml
  docker-compose.yaml
  server/Dockerfile
Due: none

:alembic: Attempt to push to registry
  .github/workflows/main.yml
Due: none

:rocket: Update Docker build
  docker-compose.yaml
  server/Dockerfile
Due: none

:fire: Deployment - Remove heroku configuration
  heroku.yml
Due: none

:children_crossing: Handle loading state in login/register forms
  client/src/auth-modal-form.tsx
  client/src/design-system/components/backdrop-loader.tsx
  client/src/design-system/components/simple-loader.tsx
  client/src/hooks/use-is-waiting-for-too-long.tsx
  client/src/routes/__root.tsx
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/routes/game/test/$gameKey/$sceneKey.tsx
  client/src/routes/index.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/routes/library/index.tsx
Due: check-typescript, check-lint, check-format, client-test

:alembic: Try to make the app work in offline mode
  client/public/robots.txt
  client/vercel.json
Due: check-typescript, check-lint, check-format, client-test

:package: Bump packages
  client/bun.lockb
  client/package.json
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/routeTree.gen.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:alembic: Register service worker and update periodically
  client/public/robots.txt
  client/src/hooks/use-register-service-worker.ts
  client/src/routes/__root.tsx
  client/tsconfig.json
  client/vercel.json
Due: check-typescript, check-lint, check-format, client-test

:arrow_up: Use new bun.lock format
  client/bun.lock
  client/bun.lockb
Due: check-typescript, check-lint, check-format, client-test

:package: Bump vite-plugin-pwa to 1.0 and minor updates to all packages
  client/bun.lock
  client/package.json
Due: check-typescript, check-lint, check-format, client-test
