Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:sparkles: add evenement aleatoire
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Fix edges connections
  client/src/builder/adapters/index.ts
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-builder-context.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/hooks/use-auto-submit-form.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: add evenement aleatoire
  client/.scannerwork/.sonar_lock
  client/.scannerwork/report-task.txt
  client/src/domains/game/game-service.ts
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

delete scanner
  client/.scannerwork/.sonar_lock
  client/.scannerwork/report-task.txt
Due: check-typescript, check-lint, check-format, client-test

:wastebasket: Remove legacy migration system
  client/src/hooks/use-migrations.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/migrations/index.ts
  client/src/lib/storage/migrations/scene-content-migration.ts
  client/src/lib/storage/migrations/types.ts
  client/src/providers/migration-provider.tsx
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Adapt codebase for action keys
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-editor.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/domains/__tests__/data/imported-story-mocks.ts
  client/src/domains/__tests__/game-service.test.ts
  client/src/domains/__tests__/library-service.test.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
  client/src/game/hooks/__tests__/use-action-visibility.test.ts
  client/src/home/builder-showcase.tsx
  client/src/lib/action-schema.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/seed.ts
  client/src/lib/testing/factory.ts
  client/src/repositories/stubs/data.ts
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/import-service.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:lipstick: small UI improvements
  client/src/builder/components/nodes/scene/scene.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Use action keys when possible
  client/src/builder/adapters/index.ts
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/layout-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
Due: check-typescript, check-lint, check-format, client-test

:card_file_box: Add key to actions
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Show probability on edges in the builder
  client/src/builder/adapters/index.ts
  client/src/builder/components/builder-container.tsx
  client/src/builder/components/builder.tsx
  client/src/builder/components/edges/custom-edge.tsx
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-auto-layout.ts
  client/src/builder/hooks/use-builder-context.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder.tsx
  client/src/builder/types.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/layout-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
  client/src/domains/builder/ports/layout-service-port.ts
  client/src/domains/builder/stubs/stub-builder-service.ts
  client/src/home/builder-showcase.tsx
Due: check-typescript, check-lint, check-format, client-test

:construction: Fix order of actions in edge connection
  client/src/builder/hooks/__tests__/use-builder-edges.test.tsx
  client/src/builder/hooks/use-builder-edges.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: switch target and source scene in edge connection logic
  client/src/builder/hooks/use-builder-edges.tsx
Due: check-typescript, check-lint, check-format, client-test

:see_no_evil: ignore plugin serena :see_no_evil:
  .gitignore
Due: none

:bug: Correction du crash lors de la suppression d'un article :bug:
  client/src/wikis/wiki-bar.tsx
Due: check-typescript, check-lint, check-format, client-test

:construction_worker: Knip + Vulture pour dead code check :construction_worker:
  .github/workflows/main.yml
  client/bun.lock
  client/knip.json
  client/package.json
  server/pyproject.toml
  server/uv.lock
Due: check-typescript, check-lint, check-format, client-test

:construction_worker: Ajout vulture et knip dans pre-commit :construction_worker:
  .pre-commit-config.yaml
Due: none

:construction_worker: Faire fail la ci si knip ou vulture fail :construction_worker:
  .github/workflows/main.yml
Due: none

:coffin: Remove dead code in server
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/conftest.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/tests/test_synchronization_story_progress.py
  server/app/utils/errors.py
  server/pyproject.toml
Due: check-mypy, ruff-linting

:coffin: Remove unnecessary exports
  client/src/builder/adapters/index.ts
  client/src/domains/builder/stubs/stub-builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Builder Service - Method to modify probability on target
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/errors.ts
  client/src/domains/builder/ports/builder-scene-repository-port.ts
  client/src/domains/builder/ports/builder-service-port.ts
  client/src/domains/builder/stubs/stub-builder-scene-repository.ts
  client/src/domains/builder/stubs/stub-builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Set probability to zero when adding new edge on existing action
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Update probability on edges directly in the builder
  client/src/builder/components/edges/custom-edge.tsx
  client/src/domains/builder/__tests__/builder-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Make probability editable on edges
  client/bun.lock
  client/package.json
  client/src/builder/components/edges/custom-edge.tsx
Due: check-typescript, check-lint, check-format, client-test

:coffin: Remove unnecessary export
  client/src/domains/builder/errors.ts
Due: check-typescript, check-lint, check-format, client-test
