Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: server/type-check.sh
        language: script
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:recycle: wip - sync refacto - use effects to trigger synchronization
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/hooks/use-save-story-progress.tsx
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/routes/__root.tsx
  client/src/services/builder/builder-service.ts
  server/src/main.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:twisted_rightwards_arrows: Rebase
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/stubs/local-repository-stub.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/__tests__/game-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/builder/builder-service.ts
  client/src/services/game-service.ts
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - scenes & stories in builder
  client/src/services/builder-service.ts
  client/src/services/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

Update client/src/routes/library/$storyKey.tsx
  client/src/routes/library/$storyKey.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto - switch to simple buttons
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/navbar/synchronization-bar.tsx
  client/src/repositories/remote-api-repository.ts
  server/src/main.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto - switch to simple buttons
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/navbar/synchronization-bar.tsx
  client/src/repositories/remote-api-repository.ts
  server/src/main.py
  server/src/repositories/story_progress_repository.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:construction: synchronize in game
  client/src/hooks/use-save-story-progress.tsx
  client/src/lib/http-client/schema.d.ts
  server/src/data_types/game.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:lipstick: Add builder section on home page
  client/src/builder/nodes/scene/scene.tsx
  client/src/builder/types.ts
  client/src/home/builder-showcase.tsx
  client/src/home/home.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - continue service refacto
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  client/src/services/builder-service.ts
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - scenes & stories in builder
  client/src/routes/__root.tsx
  client/src/services/builder-service.ts
  client/src/services/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - sync refacto
  client/src/builder/hooks/use-sync-builder.ts
  client/src/game/hooks/use-sync-story-progress.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/navbar/hooks/use-synchronization-old.ts
  client/src/repositories/remote-api-repository.ts
  server/src/data_types/game.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:sparkles: Load & save data from navbar
  client/src/navbar/components/user-dropdown.tsx
  client/src/navbar/synchronization-bar.tsx
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:test_tube: Builder Service tests
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/local-repository-stub.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/builder/builder-service.ts
  client/src/services/builder/schemas.ts
  server/src/main.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:white_check_mark: Add builder-service tests
  README.md
  client/package.json
  client/src/repositories/stubs/local-repository-stub.ts
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/builder/builder-service.ts
  client/src/services/builder/schemas.ts
  client/src/services/sync-service.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: synchronize in game
  client/src/hooks/use-save-story-progress.tsx
  client/src/lib/http-client/schema.d.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - continue service refacto
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - all routes
  client/src/repositories/remote-api-repository.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Start implementing repositories and services in the frontend
  client/src/hooks/use-save-story-progress.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/repository-port.ts
  client/src/repositories/repository.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Add library section in home page
  client/src/home/home.tsx
  client/src/home/last-game-section.tsx
  client/src/home/library-section.tsx
  client/src/routes/index.tsx
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:twisted_rightwards_arrows: Rebase
  client/src/home/library-section.tsx
  client/src/home/store-section.tsx
  client/src/lib/http-client/schema.d.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: wip - service refacto - all routes
  client/src/repositories/remote-api-repository.ts
  client/src/services/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:white_check_mark: Add game-service tests
  README.md
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/stubs/index.ts
  client/src/repositories/stubs/local-repository-stub.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/__tests__/data.ts
  client/src/services/__tests__/game-service.test.ts
  client/src/services/game-service.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Set high edge index
  client/src/builder/components/builder.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Remove second scrollbar in scene editor
  client/src/builder/components/editors/scene-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Show current page in navbar
  client/src/builder/components/builder-stories.tsx
  client/src/navbar/navbar.tsx
  client/src/store/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:iphone: Make lists responsive
  client/src/builder/components/builder-stories.tsx
  client/src/library/library.tsx
  client/src/library/story-list.tsx
  client/src/store/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Improve detail page
  client/src/library/detail.tsx
  client/src/repositories/remote-api-repository.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: wip
  client/src/library/library.tsx
  client/src/routes/store.tsx
  client/src/services/store-service.ts
  client/src/store/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:construction: UI updates
  client/src/builder/components/builder-stories.tsx
  client/src/routes/index.tsx
  client/src/routes/store.tsx
  client/src/services/store-service.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Fix text overflow in story card
  client/src/design-system/components/story-card.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Improve scene-editor UX
  client/src/builder/components/editors/scene-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Clear form values on modal close
  client/src/builder/components/editors/scene-editor.tsx
  client/src/builder/components/story-form/story-form-dialog.tsx
  client/src/repositories/remote-api-repository.ts
Due: check-typescript, check-lint, check-format, client-test

:arrow_up: Upgrade reactflow to v12
  client/package.json
  client/src/builder/adapters/index.ts
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder.tsx
  client/src/builder/nodes/scene/scene.tsx
  client/src/builder/types.ts
  client/src/home/builder-showcase.tsx
  client/src/main.tsx
Due: check-typescript, check-lint, check-format, client-test

fix import json
  client/src/builder/components/builder-stories.tsx
  client/src/builder/components/import-modal.tsx
  client/src/library/library.tsx
Due: check-typescript, check-lint, check-format, client-test

Update client/src/library/library.tsx
  client/src/library/library.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Filter stories and progresses by user
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/library/library.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/services/__tests__/game-service.test.ts
  client/src/services/game-service.ts
  client/src/services/user-service.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: Update architecture schemas
  README.md
  archi.png
  client-archi-story-builder.png
  server-archi-story-builder.png
Due: none

:heavy_minus_sign: Remove excalidraw
  client/package.json
  client/src/routeTree.gen.ts
  client/src/routes/whiteboard.tsx
  client/src/whiteboard.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: UI fixes
  client/src/builder/components/editors/scene-editor.tsx
  client/src/builder/components/editors/set-first-scene-switch.tsx
  client/src/builder/components/export-modal.tsx
  client/src/builder/components/import-modal.tsx
  client/src/design-system/components/confirm-dialog.tsx
  client/src/design-system/components/story-card.tsx
  client/src/game/components/scene.tsx
  client/src/home/builder-showcase.tsx
  client/src/home/home.tsx
  client/src/home/store-section.tsx
  client/src/library/library.tsx
Due: check-typescript, check-lint, check-format, client-test
