Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: server/type-check.sh
        language: script
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:sparkles: Don't store progress in test mode
  client/src/builder/components/builder-stories.tsx
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-test-story.tsx
  client/src/design-system/components/error-message.tsx
  client/src/game/components/scene-action.tsx
  client/src/game/components/scene.tsx
  client/src/routeTree.gen.ts
  client/src/routes/game/test/$gameKey/$sceneKey.tsx
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Add multi selection in builder
  client/src/builder/components/builder.tsx
  client/src/home/builder-showcase.tsx
  client/src/lib/get-os.ts
Due: check-typescript, check-lint, check-format, client-test

add dockerfile
  client/Dockerfile
  docker-compose.yaml
  server/Dockerfile
Due: check-typescript, check-lint, check-format, client-test

update dockerfile
  client/Dockerfile
  docker-compose.yaml
  server/Dockerfile
Due: check-typescript, check-lint, check-format, client-test

update dockerfile
  client/Dockerfile
  docker-compose.yaml
Due: check-typescript, check-lint, check-format, client-test

:wrench: Fix client build in Docker container
  client/.gitignore
  client/Dockerfile
  client/bun.lockb
  client/package.json
  client/src/routeTree.gen.ts
  docker-compose.yaml
Due: check-typescript, check-lint, check-format, client-test

:rocket: Fix host & CORS issues
  client/package.json
  client/src/routes/__root.tsx
  server/src/main.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:wrench: Fix bun hanging during install in docker
  client/Dockerfile
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

update docker-compose
  docker-compose.yaml
Due: none

:lock: Update CORS policy for docker containers
  client/Dockerfile
  server/src/main.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:art: Clean
  client/Dockerfile
  client/package.json
  server/Dockerfile
  server/src/main.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:sparkles: Use story type instead of status to determine if a story is in the builder or in the library
  client/src/builder/components/story-form/schema.ts
  client/src/builder/components/story-form/story-form-dialog.tsx
  client/src/builder/components/story-publisher.tsx
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/library/detail.tsx
  client/src/repositories/stubs/data.ts
  client/src/routeTree.gen.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/__tests__/library-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/common/schemas.ts
  client/src/services/library-service.ts
  server/request_http/builder.http
  server/src/domains/store_service.py
  server/src/domains/type_def.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:bug: Fix editor being cleared on window re-focus in builder
  client/src/routes/builder/$storyKey.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: make loader a simpler screen
  client/src/design-system/components/backdrop-loader.tsx
  client/src/routes/__root.tsx
  client/src/routes/builder/$storyKey.tsx
  client/src/routes/builder/stories.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/routes/game/test/$gameKey/$sceneKey.tsx
  client/src/routes/index.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/routes/library/index.tsx
  client/src/routes/store.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Delete button in the builder
  client/src/builder/components/delete-modal.tsx
  client/src/builder/components/toolbar.tsx
  client/src/builder/hooks/use-toolbar.tsx
  client/src/repositories/indexed-db-repository.ts
  client/src/repositories/local-repository-port.ts
  client/src/repositories/stubs/local-repository-stub.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Also delete scenes when deleting builder story
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Use story type instead of status to determine if a story is in the builder or in the library
  client/src/builder/components/story-form/schema.ts
  client/src/builder/components/story-form/story-form-dialog.tsx
  client/src/builder/components/story-publisher.tsx
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/domain.ts
  client/src/library/detail.tsx
  client/src/repositories/stubs/data.ts
  client/src/services/__tests__/builder-service.test.ts
  client/src/services/__tests__/library-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/common/schemas.ts
  client/src/services/library-service.ts
  server/request_http/builder.http
  server/src/domains/store_service.py
  server/src/domains/type_def.py
  server/src/repositories/story_repository.py
  server/src/repositories/story_repository_port.py
Due: check-mypy, check-typescript, check-lint, check-format, client-test

:wrench: Update CI to use uv
  .github/workflows/main.yml
  server/hello.py
Due: check-mypy

:pushpin: Update python to 3.13
  server/.python-version
  server/app/domains/user_service.py
  server/pyproject.toml
  server/uv.lock
Due: check-mypy

:wrench: Add uv & ruff
  .pre-commit-config.yaml
  README.md
  server/.gitignore
  server/.python-version
  server/Dockerfile
  server/README.md
  server/app/domains/__init__.py
  server/app/domains/store_service.py
  server/app/domains/synchronization_service.py
  server/app/domains/type_def.py
  server/app/domains/user_service.py
  server/app/main.py
  server/app/repositories/__init__.py
  server/app/repositories/mongo_repository.py
  server/app/repositories/repository.py
  server/app/repositories/story_progress_repository.py
  server/app/repositories/story_progress_repository_port.py
  server/app/repositories/story_repository.py
  server/app/repositories/story_repository_port.py
  server/app/repositories/user_repository.py
  server/app/repositories/user_repository_port.py
  server/app/request_types.py
  server/app/utils/__init__.py
  server/app/utils/db.py
  server/app/utils/error_adapter.py
  server/app/utils/errors.py
  server/app/utils/meta.py
  server/hello.py
  server/pyproject.toml
  server/requirements.txt
  server/type-check.sh
  server/uv.lock
Due: check-mypy

:lipstick: Reorganize game-detail page
  client/bun.lockb
  client/package.json
  client/src/design-system/primitives/separator.tsx
  client/src/library/detail.tsx
  client/src/library/game-banner.tsx
  client/src/library/game-detail.tsx
  client/src/library/game-info.tsx
  client/src/library/saves-detail.tsx
  client/src/routes/library/$storyKey.tsx
  client/src/services/__tests__/library-service.test.ts
  client/src/services/common/schemas.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Delete game in library
  client/src/library/delete-game-button.tsx
  client/src/library/game-detail.tsx
  client/src/services/__tests__/library-service.test.ts
  client/src/services/builder-service.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:rocket: Update python version in Dockerfile
  server/Dockerfile
Due: none
