Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:bug: Fix defocus issue in scene editor
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-form.tsx
  client/src/design-system/components/editor/components/rich-text-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for test CI/CD 2
  client/src/domains/__tests__/library-service.test.ts
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 2
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/stubs/remote-repository-stub.ts
Due: check-typescript, check-lint, check-format, client-test

Fix for test CI/CD 3
  client/src/library/hooks/use-delete-progress.ts
Due: check-typescript, check-lint, check-format, client-test

Update client/src/library/hooks/use-delete-progress.ts
  client/src/library/hooks/use-delete-progress.ts
Due: check-typescript, check-lint, check-format, client-test

Btn delete added
  client/src/domains/game/library-service.ts
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/endpoints/synchronization/delete_progress.py
  server/app/main.py
  server/app/tests/test_delete_progress.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

Fix for CI/CD 6
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
Due: check-typescript, check-lint, check-format, client-test

Improvement requester
  client/src/domains/game/library-service.ts
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/routes/library/$storyKey.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 7
  client/eslint.config.ts
  client/package.json
  client/src/design-system/components/editor/hooks/use-image-commands.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 5
  client/bun.lock
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
Due: check-typescript, check-lint, check-format, client-test

Page progress
  client/bun.lock
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix PR feedback: update save deatil and game detail
  client/src/design-system/primitives/progress.tsx
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix PR feedback: update game-detail component
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for test CI/CD
  client/src/domains/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:ambulance: Restore python files
  server/app/domains/synchronization/__init__.py
  server/app/domains/synchronization/errors.py
  server/app/domains/synchronization/repositories/__init__.py
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/__init__.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/__init__.py
  server/app/endpoints/synchronization/load.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/endpoints/synchronization/save_stories.py
  server/app/endpoints/synchronization/synchronization_service.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/main.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/tests/test_synchronization_story_progress.py
  server/mypy-watch.sh
Due: check-mypy, ruff-linting

remove client-side sync system
  client/src/domains/synchronization/sync-service.ts
  client/src/domains/synchronization/utils.ts
  client/src/navbar/hooks/use-sync.ts
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

remove unused synchronization system
  server/app/domains/synchronization/__init__.py
  server/app/domains/synchronization/errors.py
  server/app/domains/synchronization/repositories/__init__.py
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/__init__.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/mypy-watch.sh
Due: check-mypy, ruff-linting

delete file Python
  server/app/endpoints/synchronization/__init__.py
  server/app/endpoints/synchronization/load.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/endpoints/synchronization/save_stories.py
  server/app/endpoints/synchronization/synchronization_service.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

Fix for CI/CD 4
  server/app/main.py
Due: check-mypy, ruff-linting

fix checking Github Actions for server
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

Update bun
  client/bun.lock
Due: check-typescript, check-lint, check-format, client-test

Fix for PR
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Functionality adjustment
  client/src/library/game-detail.tsx
  server/app/endpoints/synchronization/delete_progress.py
  server/app/main.py
  server/app/tests/test_delete_progress.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

btn just add save
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:rotating_light: Fix eslint config
  client/eslint.config.ts
  client/package.json
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
  client/src/design-system/components/editor/hooks/use-image-commands.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Further cleaning
  client/bun.lock
  client/src/domains/synchronization/sync-service.ts
  client/src/domains/synchronization/utils.ts
  client/src/navbar/hooks/use-sync.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Regenerate apy frontend types
  README.md
  server/pyproject.toml
Due: none

:rotating_light: Fix linting
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
  client/src/design-system/components/editor/hooks/use-image-commands.tsx
Due: check-typescript, check-lint, check-format, client-test
