Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: bash -c 'cd server && uv run mypy .'
  language: system
  stages:
  - pre-push

ruff-linting:
  name: Run Linting in server
  entry: bash -c 'cd server && uv run ruff check'
  language: system
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test:single'
  language: system
  pass_filenames: false
  stages:
  - pre-push

adding database to CI tests
  .github/workflows/main.yml
Due: none

:green_heart: Fix knip issues
  client/bun.lock
  client/knip.json
  client/src/builder/lexical-wiki-node.tsx
  client/src/design-system/components/editor/nodes/image-node.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: fixing test naming
  client/bun.lock
Due: check-typescript, check-lint, check-format, client-test

adding database to CI tests
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

correcting server side tests
  server/app/domains/synchronization/repositories/adapters.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

feat(stats): track total play time per save (#310)
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/domains/game/library-service.ts
  client/src/game/hooks/use-track-story-play-time.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
  client/src/repositories/stubs/data.ts
  client/src/routes/game/$gameKey/$sceneKey.tsx
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

New design, page edit article
  client/src/wikis/article-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

fix
  client/src/game/hooks/use-track-story-play-time.ts
Due: check-typescript, check-lint, check-format, client-test

delete toast on auto save
  client/src/builder/hooks/use-update-story.ts
Due: check-typescript, check-lint, check-format, client-test

fix
  client/src/builder/hooks/use-update-story.ts
Due: check-typescript, check-lint, check-format, client-test

fix comment
  client/src/game/hooks/use-track-story-play-time.ts
Due: check-typescript, check-lint, check-format, client-test

feat(builder): auto-save story editor (#528)
  client/src/builder/components/builder-editor-bar/story-editor/edit-story-form.tsx
  client/src/builder/components/builder-editor-bar/story-editor/story-editor.tsx
  client/src/builder/hooks/use-edit-story-form.ts
Due: check-typescript, check-lint, check-format, client-test

fix ci
  client/src/builder/components/builder-editor-bar/story-editor/edit-story-form.tsx
  client/src/builder/hooks/use-edit-story-form.ts
Due: check-typescript, check-lint, check-format, client-test

:bug: Clear error store when leaving builder to prevent stale errors across stories
  client/src/builder/hooks/use-builder-error-store.ts
  client/src/routes/builder/$storyKey.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Add name field to StoryProgress and rename support
  client/src/domains/game/library-service.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Move scene title to its own line in saves drawer
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Add save naming, renaming and progress in drawer
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Replace play + select another save buttons with a single split button and popover
  client/src/library/components/game-detail.tsx
  client/src/library/components/saves-popover.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Address PR review: DS primitives, RHF forms, hexagonal compliance
  client/src/design-system/components/responsive-drawer.tsx
  client/src/design-system/primitives/button-group.tsx
  client/src/design-system/primitives/index.ts
  client/src/design-system/primitives/progress-badge.tsx
  client/src/domains/game/analytics-service.ts
  client/src/library/components/game-detail.tsx
  client/src/library/components/progress-badge.tsx
  client/src/library/components/save-name-form.tsx
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Extract NameInput to reduce SaveNameForm boilerplate
  client/src/library/components/save-name-form.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Format with prettier
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Allow creating a save without a name in popover
  client/src/library/components/saves-popover.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Add progress badge with color scale and fix dropdown UX
  client/src/library/components/progress-badge.tsx
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Use green progress color in DS, fix drawer layout overflow
  client/src/design-system/primitives/progress-badge.tsx
  client/src/globals.css
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Add hooks for save naming and renaming
  client/src/library/hooks/use-create-save.ts
  client/src/library/hooks/use-rename-save.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Move progress badge inline in card title
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  ruff-linting: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
