Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: bash -c 'cd server && uv run mypy .'
  language: system
  stages:
  - pre-push

ruff-linting:
  name: Run Linting in server
  entry: bash -c 'cd server && uv run ruff check'
  language: system
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test:single'
  language: system
  pass_filenames: false
  stages:
  - pre-push

remove client-side sync system
  client/src/domains/synchronization/sync-service.ts
  client/src/domains/synchronization/utils.ts
  client/src/navbar/hooks/use-sync.ts
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 6
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Regenerate apy frontend types
  README.md
  server/pyproject.toml
Due: none

Fix for test CI/CD 3
  client/src/library/hooks/use-delete-progress.ts
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Update client/src/library/hooks/use-delete-progress.ts
  client/src/library/hooks/use-delete-progress.ts
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 7
  client/eslint.config.ts
  client/package.json
  client/src/design-system/components/editor/hooks/use-image-commands.tsx
Due: check-typescript, check-lint, check-format, client-test

:rotating_light: Fix linting
  client/src/builder/components/wiki-lexical-plugin/wiki-lexical-plugin.tsx
  client/src/design-system/components/editor/hooks/use-image-commands.tsx
Due: check-typescript, check-lint, check-format, client-test

delete file Python
  server/app/endpoints/synchronization/__init__.py
  server/app/endpoints/synchronization/load.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/endpoints/synchronization/save_stories.py
  server/app/endpoints/synchronization/synchronization_service.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

btn just add save
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Update bun
  client/bun.lock
Due: check-typescript, check-lint, check-format, client-test

Page progress
  client/bun.lock
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 4
  server/app/main.py
Due: check-mypy, ruff-linting

Fix PR feedback: update game-detail component
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Improvement requester
  client/src/domains/game/library-service.ts
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/routes/library/$storyKey.tsx
Due: check-typescript, check-lint, check-format, client-test

fix checking Github Actions for server
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

Fix for PR
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

remove unused synchronization system
  server/app/domains/synchronization/__init__.py
  server/app/domains/synchronization/errors.py
  server/app/domains/synchronization/repositories/__init__.py
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/__init__.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/mypy-watch.sh
Due: check-mypy, ruff-linting

Btn delete added
  client/src/domains/game/library-service.ts
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/endpoints/synchronization/delete_progress.py
  server/app/main.py
  server/app/tests/test_delete_progress.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

fix type && test
  client/package.json
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/game/components/scene-action.tsx
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/stubs/data.ts
  client/src/services/common/__tests__/import-service.test.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/utils/lexical_content.py
  server/app/utils/mongo/base_repository.py
  server/mypy-watch.sh
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

fix migration
  client/src/lib/storage/dexie/dexie-db.ts
Due: check-typescript, check-lint, check-format, client-test

fix naming
  client/src/services/common/__tests__/import-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

Update client/src/domains/builder/layout-service.ts
  client/src/domains/builder/layout-service.ts
Due: check-typescript, check-lint, check-format, client-test

:art: Fix end of file issue
  server/mypy-watch.sh
Due: none

:sparkles: Enable linking actions to multiple scenes
  client/src/builder/adapters/index.ts
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
Due: check-typescript, check-lint, check-format, client-test

:bug: Builder - Fix scene editor
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-editor.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-editor-store.ts
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/builder/hooks/use-edit-scene-content-form.ts
Due: check-typescript, check-lint, check-format, client-test

add sonarqube
  client/.gitignore
  client/bun.lock
  client/package.json
  docker-compose.yaml
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix auto save in game
  client/src/domains/__tests__/game-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/game/hooks/index.ts
  client/src/game/hooks/use-update-story-progress.ts
  client/src/library/game-detail.tsx
  client/src/routes/game/$gameKey/$sceneKey.tsx
  client/src/services/common/import-service.ts
Due: check-typescript, check-lint, check-format, client-test

:wastebasket: Remove legacy migration system
  client/src/hooks/use-migrations.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/migrations/index.ts
  client/src/lib/storage/migrations/scene-content-migration.ts
  client/src/lib/storage/migrations/types.ts
  client/src/providers/migration-provider.tsx
  client/src/routes/__root.tsx
Due: check-typescript, check-lint, check-format, client-test

:card_file_box: Add key to actions
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Adapt codebase for action keys
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-editor.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/domains/__tests__/data/imported-story-mocks.ts
  client/src/domains/__tests__/game-service.test.ts
  client/src/domains/__tests__/library-service.test.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
  client/src/game/hooks/__tests__/use-action-visibility.test.ts
  client/src/home/builder-showcase.tsx
  client/src/lib/action-schema.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/seed.ts
  client/src/lib/testing/factory.ts
  client/src/repositories/stubs/data.ts
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/import-service.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:recycle: Use action keys when possible
  client/src/builder/adapters/index.ts
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/layout-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: small UI improvements
  client/src/builder/components/nodes/scene/scene.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: add evenement aleatoire
  client/.scannerwork/.sonar_lock
  client/.scannerwork/report-task.txt
  client/src/domains/game/game-service.ts
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

delete scanner
  client/.scannerwork/.sonar_lock
  client/.scannerwork/report-task.txt
Due: check-typescript, check-lint, check-format, client-test

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  ruff-linting: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
