Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

adding database to CI tests
  .github/workflows/main.yml
Due: none

adding database to CI tests
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/tests/conftest.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bug: fixing test naming
  client/bun.lock
Due: check-typescript, check-lint, check-format, client-test

:green_heart: Fix knip issues
  client/bun.lock
  client/knip.json
  client/src/builder/lexical-wiki-node.tsx
  client/src/design-system/components/editor/nodes/image-node.tsx
Due: check-typescript, check-lint, check-format, client-test

feat(builder): auto-save story editor (#528)
  client/src/builder/components/builder-editor-bar/story-editor/edit-story-form.tsx
  client/src/builder/components/builder-editor-bar/story-editor/story-editor.tsx
  client/src/builder/hooks/use-edit-story-form.ts
Due: check-typescript, check-lint, check-format, client-test

fix ci
  client/src/builder/components/builder-editor-bar/story-editor/edit-story-form.tsx
  client/src/builder/hooks/use-edit-story-form.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Address PR review round 2: move ProgressBadge to components, extract getProgressRate, cleanup
  client/src/design-system/components/progress-badge.tsx
  client/src/design-system/primitives/index.ts
  client/src/domains/game/analytics-service.ts
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
  client/src/library/hooks/use-rename-save.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Move progress badge inline in card title
  client/src/library/components/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Update .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

testing CI
  .github/workflows/main.yml
Due: none
