Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:lipstick: Remove !important, exclude current save from dropdown, add MAX_DISPLAYED_SAVES constant
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:recycle: Address PR review round 2: move ProgressBadge to components, extract getProgressRate, cleanup
  client/src/design-system/components/progress-badge.tsx
  client/src/design-system/primitives/index.ts
  client/src/domains/game/analytics-service.ts
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
  client/src/library/hooks/use-rename-save.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Migrate SavesPopover to SavesDropdown using DropdownMenu with stopPropagation
  client/src/library/components/game-detail.tsx
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Format with prettier
  client/src/library/components/save-name-form.tsx
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Limit dropdown to 3 last saves
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Format saves-dropdown with prettier
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Format with prettier
  client/src/library/components/saves-detail.tsx
  client/src/library/hooks/use-create-save.ts
  client/src/library/hooks/use-rename-save.ts
Due: check-typescript, check-lint, check-format, client-test

:white_check_mark: Add tests for save naming and renaming
  client/src/domains/game/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:art: Format with prettier
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

:art: Format with prettier
  client/src/library/components/progress-badge.tsx
  client/src/library/components/saves-detail.tsx
  client/src/library/components/saves-dropdown.tsx
Due: check-typescript, check-lint, check-format, client-test

Changes to the children's categories
  client/src/wikis/wiki-bar.tsx
Due: check-typescript, check-lint, check-format, client-test

:green_heart: Fix client build
  client/src/domains/game/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:white_check_mark: Fix backend tests
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

:white_check_mark: Fix library tests
  client/src/domains/game/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

:wrench: Update CI
  .github/workflows/main.yml
Due: none

test(sync): align backend story progress tests with total play time
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

feat(stats): display total play time on story detail (#538)
  client/src/lib/__tests__/date.test.ts
  client/src/lib/date.ts
  client/src/library/components/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

refactor(stats): address total play time review feedback
  client/src/domains/game/__tests__/analytics-service.test.ts
  client/src/domains/game/analytics-service.ts
  client/src/lib/date.ts
  client/src/library/components/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

Add quotation marks and modif for CI
  client/bun.lock
  client/package.json
  client/src/wikis/article-editor.tsx
  client/src/wikis/article.tsx
  client/src/wikis/wiki-bar.tsx
Due: check-typescript, check-lint, check-format, client-test

fix comments
  client/src/domains/game/__tests__/analytics-service.test.ts
  client/src/domains/game/analytics-service.ts
  client/src/lib/__tests__/date.test.ts
  client/src/lib/date.ts
  client/src/library/components/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

fix
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/wiki/__tests__/wiki-repository.test.ts
  client/src/library/components/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

fix build
  client/src/domains/game/__tests__/library-service.test.ts
Due: check-typescript, check-lint, check-format, client-test

fix
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
Due: check-mypy, ruff-linting

fix
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

fix
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

Remove the border color from the article
  client/src/wikis/wiki-bar.tsx
Due: check-typescript, check-lint, check-format, client-test

update package.json
  client/package.json
Due: check-typescript, check-lint, check-format, client-test
