Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:memo: Deleting png of chaos
  documentation/static/img/Capture d’écran 2026-03-06 à 14.06.17.png
Due: none

Apply suggestion from @JeremieLeymarie
  documentation/docs/Builder/builder_engine.mdx
Due: none

:memo: fixing errors in builder engine doc
  documentation/static/img/Capture d’écran 2026-03-06 à 14.06.17.png
  documentation/static/img/builder_scene_actions.png
Due: none

:memo: Builder engine doc
  documentation/static/img/builder_core.jpg
Due: none

:memo: fixing missing informations on builder engine
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/static/img/builder_content_image.png
  documentation/static/img/builder_content_image_form.png
  documentation/static/img/builder_scene_actions.png
Due: none

:sparkles: Show character attributes in game
  client/src/domains/game/__tests__/character-repository.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/character-repository.ts
  client/src/domains/game/library-service.ts
  client/src/domains/game/stubs/stub-character-repository.ts
  client/src/game/components/character-card.tsx
  client/src/game/components/game-scene.tsx
  client/src/game/components/scene-action.tsx
  client/src/game/hooks/use-local-game-settings.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:art: Clean
  client/src/game/components/character-card.tsx
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Close character card on header click
  client/src/game/components/character-card.tsx
Due: check-typescript, check-lint, check-format, client-test

add form probability
  client/src/builder/components/builder-editor-bar/scene-editor/random-events-form.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-edge-probability.ts
  client/src/builder/hooks/use-random-event-form.ts
Due: check-typescript, check-lint, check-format, client-test

add form probability
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-edge-probability.ts
Due: check-typescript, check-lint, check-format, client-test

add form probability
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-edges.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix imperative changes in conditional action form not taken into account
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-condition-change.ts
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix create scene from raw text
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/builder/hooks/use-copy-paste.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: save
  client/src/builder/components/builder-editor-bar/scene-editor/random-events-form.tsx
  client/src/builder/hooks/use-edge-probability.ts
  client/src/builder/hooks/use-random-event-form.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Improve action buttons
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix wiki link text centering and icon positioning in builder
  client/src/builder/components/lexical-node-wiki-article-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

:poop: Use RHF & zod primitives in random events form
  client/src/builder/components/builder-editor-bar/scene-editor/random-events-form.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-detect-builder-errors.ts
  client/src/builder/hooks/use-handle-action-targets-error.ts
  client/src/builder/hooks/use-random-event-form.ts
  client/src/design-system/components/form-error.tsx
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
Due: check-typescript, check-lint, check-format, client-test

fix lint
  client/src/domains/game/game-service.ts
Due: check-typescript, check-lint, check-format, client-test

Fix progress history handling (#309)
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/domains/game/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

fix build
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

change save order when playing one. add clickable save to change progress stat display
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/library-service.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/repositories/stubs/data.ts
Due: check-typescript, check-lint, check-format, client-test

Address PR #398 review feedback
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

Fix mypy sync repository tests
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
Due: check-mypy, ruff-linting

fix pr comments
  client/src/domains/game/game-service.ts
  server/app/domains/synchronization/repositories/adapters.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

fix build
  client/src/domains/game/game-service.ts
Due: check-typescript, check-lint, check-format, client-test
