Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:memo: Builder engine doc
  documentation/static/img/builder_core.jpg
Due: none

:memo: Builder documentation
  documentation/docs/Builder/builder_engine.mdx
  documentation/static/img/builder_first_scene2.png
  documentation/static/img/builder_new_scene.png
Due: none

Apply suggestion from @JeremieLeymarie
  documentation/docs/Builder/builder_engine.mdx
Due: none

:memo: fixing missing informations on builder engine
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/static/img/builder_content_image.png
  documentation/static/img/builder_content_image_form.png
  documentation/static/img/builder_scene_actions.png
Due: none

:sparkles: Import/Export Character
  client/src/builder/hooks/use-builder-stories.tsx
  client/src/builder/hooks/use-get-export-data.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/game/library-service.ts
  client/src/lib/storage/domain.ts
  client/src/library/components/library.tsx
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/import-service.ts
  client/src/services/common/schema.ts
  client/src/services/common/stubs/stub-import-service.ts
Due: check-typescript, check-lint, check-format, client-test

:art: Clean
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/import-service.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: fixing errors in builder engine doc
  documentation/static/img/Capture d’écran 2026-03-06 à 14.06.17.png
  documentation/static/img/builder_scene_actions.png
Due: none

:recycle: Refactor & add character form section
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/character-condition-section.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-condition-change.ts
  client/src/builder/components/builder-editor-bar/scene-editor/scene-selector.tsx
  client/src/design-system/components/number-input.tsx
  client/src/design-system/components/toolbar.tsx
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:label: Fix types
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-condition-change.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Action form refacto
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-selector.tsx
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/lib/action-schema.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:bug: Transform keys in JSON import
  client/src/domains/builder/builder-service.ts
  client/src/domains/game/library-service.ts
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/import-service.ts
Due: check-typescript, check-lint, check-format, client-test

:label: Handle remote repo adapters
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
Due: check-typescript, check-lint, check-format, client-test

:building_construction: Add conditional action on character's attributes
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/lib/action-schema.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:label: Add condition to backend types
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_stories.py
  server/app/tests/test_synchronization_story_progress.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:bulb: Temporary handling of action visibility for character attributes condition
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/game/hooks/use-action-visibility.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: Deleting png of chaos
  documentation/static/img/Capture d’écran 2026-03-06 à 14.06.17.png
Due: none

:recycle: Rework condition handling
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/character-condition-section.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-condition-change.ts
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/design-system/primitives/input.tsx
  client/src/design-system/primitives/select.tsx
  client/src/hooks/use-auto-submit-form.ts
  client/src/lib/action-schema.ts
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Improve error management
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/character-condition-section.tsx
  client/src/builder/hooks/use-edit-actions-form.ts
  client/src/lib/action-schema.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Improve action buttons
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

add form probability
  client/bun.lock
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/random-event-editor.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/random-events-form.tsx
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-edge-probability.ts
  client/src/builder/hooks/use-probability-mask.ts
  client/src/builder/hooks/use-random-event-form.ts
Due: check-typescript, check-lint, check-format, client-test
