Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

:package: Bump packages
  client/bun.lockb
  client/package.json
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/routeTree.gen.ts
  client/src/services/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

:alembic: Register service worker and update periodically
  client/public/robots.txt
  client/src/hooks/use-register-service-worker.ts
  client/src/routes/__root.tsx
  client/tsconfig.json
  client/vercel.json
Due: check-typescript, check-lint, check-format, client-test

:arrow_up: Use new bun.lock format
  client/bun.lock
  client/bun.lockb
Due: check-typescript, check-lint, check-format, client-test

:package: Bump vite-plugin-pwa to 1.0 and minor updates to all packages
  client/bun.lock
  client/package.json
Due: check-typescript, check-lint, check-format, client-test

:arrow_up: Use bun 1.2 in Dockerfile
  client/Dockerfile
Due: check-typescript, check-lint, check-format, client-test

:recycle: Synchronization - Add user_key where needed
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/remote-api-repository.ts
  server/app/domains/synchronization/service.py
  server/app/endpoints/synchronization/load.py
  server/app/endpoints/synchronization/save_builder.py
  server/app/endpoints/synchronization/save_library.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/main.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:heavy_plus_sign: Server - Better manage deps
  server/pyproject.toml
  server/uv.lock
Due: none

:white_check_mark: Testing - Set up backend testing infrastructure
  .vscode/launch.json
  .vscode/settings.json
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
Due: check-mypy, ruff-linting

:label: Synchronization - Fix types in backend
  server/app/endpoints/synchronization/save_progress.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - Service tests
  server/app/domains/synchronization/errors.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - First repository tests
  .vscode/settings.json
  server/.env
  server/.env.example
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/utils/mongo/base_repository.py
  server/app/utils/mongo/db.py
  server/app/utils/type_defs.py
  server/pyproject.toml
  server/pytest.ini
  server/uv.lock
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - Repository tests
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - First Backend Integration tests
  .pre-commit-config.yaml
  server/app/domains/auth/auth_service.py
  server/app/domains/synchronization/tests/__init__.py
  server/app/endpoints/common.py
  server/app/endpoints/synchronization/load.py
  server/app/endpoints/synchronization/save_builder.py
  server/app/endpoints/synchronization/save_library.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/main.py
  server/app/tests/__init__.py
  server/app/tests/conftest.py
  server/app/tests/test_synchronization_load.py
  server/app/utils/error_adapter.py
  server/pyproject.toml
  server/uv.lock
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - Builder endpoint tests
  server/app/endpoints/synchronization/save_builder.py
  server/app/tests/test_synchronization_save_builder.py
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - Library Endpoint tests
  server/app/domains/auth/auth_service.py
  server/app/endpoints/synchronization/save_builder.py
  server/app/endpoints/synchronization/save_library.py
  server/app/endpoints/synchronization/save_progress.py
  server/app/main.py
  server/app/tests/test_synchronization_save_library.py
  server/app/utils/error_adapter.py
  server/app/utils/errors.py
Due: check-mypy, ruff-linting

:white_check_mark: Synchronization - Story Progresses endpoints
  server/app/tests/conftest.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_save_builder.py
  server/app/tests/test_synchronization_save_library.py
  server/app/tests/test_synchronization_story_progress.py
Due: check-mypy, ruff-linting

:recycle: Synchronization - Only use one endpoint to save stories
  client/src/lib/http-client/schema.d.ts
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  client/src/services/sync-service.ts
  server/app/domains/synchronization/errors.py
  server/app/domains/synchronization/service.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/endpoints/synchronization/save_library.py
  server/app/endpoints/synchronization/save_stories.py
  server/app/main.py
  server/app/tests/test_synchronization_save_library.py
  server/app/tests/test_synchronization_save_stories.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:art: Handle feedback
  client/src/services/sync-service.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

:construction: Bump all packages
  client/bun.lock
  client/package.json
Due: check-typescript, check-lint, check-format, client-test

:arrow_up: Migrate to eslint v9
  .vscode/settings.json
  client/.eslintrc.cjs
  client/bun.lock
  client/eslint.config.ts
  client/package.json
  client/src/design-system/primitives/command.tsx
  client/src/design-system/primitives/input.tsx
  client/src/design-system/primitives/textarea.tsx
  client/src/design-system/primitives/use-toast.ts
  client/src/lib/storage/dexie/dexie-db.ts
Due: check-typescript, check-lint, check-format, client-test

:lipstick: Fixes post Tailwind migration
  client/src/auth-modal-form.tsx
  client/src/design-system/components/backdrop-loader.tsx
  client/src/design-system/components/story-card.tsx
  client/src/design-system/components/story-genre-badge.tsx
  client/src/design-system/components/title.tsx
  client/src/design-system/primitives/button.tsx
  client/src/design-system/primitives/command.tsx
  client/src/design-system/primitives/dialog.tsx
  client/src/design-system/primitives/dropdown-menu.tsx
  client/src/design-system/primitives/input.tsx
  client/src/design-system/primitives/popover.tsx
  client/src/design-system/primitives/sheet.tsx
  client/src/design-system/primitives/switch.tsx
  client/src/design-system/primitives/textarea.tsx
  client/src/design-system/primitives/toast.tsx
  client/src/library/saves-detail.tsx
  client/src/navbar/navbar.tsx
  client/src/offline.tsx
Due: check-typescript, check-lint, check-format, client-test

:label: Fix type issues after React 19 migration
  client/src/builder/components/story-form/story-form-dialog.tsx
  client/src/builder/hooks/use-builder-store.tsx
  client/src/design-system/components/confirm-dialog.tsx
  client/src/design-system/components/story-card.tsx
  client/src/hooks/use-is-waiting-for-too-long.tsx
  client/tsconfig.json
Due: check-typescript, check-lint, check-format, client-test
