Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: bash -c 'cd server && uv run mypy .'
  language: system
  stages:
  - pre-push

ruff-linting:
  name: Run Linting in server
  entry: bash -c 'cd server && uv run ruff check'
  language: system
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test:single'
  language: system
  pass_filenames: false
  stages:
  - pre-push

:dizzy: Add Spinner primitive and SavingIndicator with save/done states
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effects-form.tsx
  client/src/builder/components/saving-indicator.tsx
  client/src/design-system/components/saving-indicator.tsx
  client/src/design-system/primitives/index.ts
  client/src/design-system/primitives/spinner.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix character attribute visibility
  client/src/game/components/character-card.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix wiki link editior in rich text
  client/src/builder/components/lexical-node-wiki-article-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

Revert "Install Dep 2"
  client/bun.lock
  client/package.json
  client/src/builder/components/create-story-form.tsx
  client/vite.config.ts
Due: check-typescript, check-lint, check-format, client-test

Revert "Conflict resolution"
  client/src/wikis/article.tsx
  client/src/wikis/wiki-bar.tsx
Due: check-typescript, check-lint, check-format, client-test

Update dependencies
  client/bun.lock
  client/package.json
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Remove aux click shortcut
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-copy-paste.ts
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix wiki node deletion at the start of a line
  client/src/builder/components/lexical-node-wiki-article-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

Synchronisation file packege.json and bun.lock
  client/bun.lock
  client/package.json
Due: check-typescript, check-lint, check-format, client-test

fix ci
  client/src/domains/builder/__tests__/character-service.test.ts
  client/src/domains/builder/__tests__/theme-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/character-service.ts
  client/src/domains/builder/theme-service.ts
  client/src/lib/http-client/adapters.ts
  server/app/tests/test_synchronization_save_stories.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

feat(builder): sort stories by latest modification (#39)
  client/src/domains/__tests__/data/imported-story-mocks.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/__tests__/character-service.test.ts
  client/src/domains/builder/__tests__/theme-service.test.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/character-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
  client/src/domains/builder/theme-service.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/home/builder-showcase.tsx
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
  client/src/repositories/stubs/data.ts
  client/src/services/common/__tests__/import-export-service.test.ts
  client/src/services/common/import-export-service.ts
  client/src/services/common/schema.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

fix
  client/src/domains/builder/__tests__/builder-scene-repository.test.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/__tests__/character-repository.test.ts
  client/src/domains/builder/__tests__/theme-repository.test.ts
  server/app/domains/synchronization/repositories/adapters.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

refactor(builder): move story updatedAt management into repositories
  client/src/domains/builder/__tests__/builder-scene-repository.test.ts
  client/src/domains/builder/__tests__/builder-service.test.ts
  client/src/domains/builder/__tests__/builder-story-repository.test.ts
  client/src/domains/builder/__tests__/character-repository.test.ts
  client/src/domains/builder/__tests__/character-service.test.ts
  client/src/domains/builder/__tests__/theme-repository.test.ts
  client/src/domains/builder/__tests__/theme-service.test.ts
  client/src/domains/builder/builder-scene-repository.ts
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/builder-story-repository.ts
  client/src/domains/builder/character-repository.ts
  client/src/domains/builder/character-service.ts
  client/src/domains/builder/stubs/stub-builder-scene-repository.ts
  client/src/domains/builder/theme-repository.ts
  client/src/domains/builder/theme-service.ts
Due: check-typescript, check-lint, check-format, client-test

fix
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
Due: check-mypy, ruff-linting

fix(builder): resolve merge regressions in story sorting branch
  client/src/domains/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

fix conflicts
  client/src/domains/builder/builder-service.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: Add docs & github links to navbar
  client/public/github.svg
  client/src/navbar/desktop-navbar.tsx
  client/src/navbar/mobile-navbar.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix crash when no character
  client/src/game/components/character-card.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Avoid crash when attribute used in side effect is deleted
  client/src/builder/components/builder-editor-bar/scene-editor/side-effect-item.tsx
Due: check-typescript, check-lint, check-format, client-test

:children_crossing: Add clearer text and option to delete on erroneous side effects
  client/src/builder/components/builder-editor-bar/scene-editor/side-effect-item.tsx
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix tooltip on disabled actions
  client/src/game/components/scene-action.tsx
Due: check-typescript, check-lint, check-format, client-test

:memo: Updat README with up-to-date information
  README.md
  client-archi-story-builder.png
  frontend-archi.png
  http-client.png
  overall-archi.png
  server-archi-story-builder.png
  server/README.md
Due: none

adding wiki documentation
  documentation/docs/Builder/builder_conditional_actions.mdx
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/builder_random_events.mdx
  documentation/docs/Builder/builder_wiki_linking.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_games_story.mdx
  documentation/docs/Library/library_homepage.mdx
  documentation/docs/Wiki/wiki_creation.mdx
  documentation/static/img/Capture d’écran 2026-05-13 à 15.18.31.png
  documentation/static/img/builder_conditional_actions.png
  documentation/static/img/builder_tool_story_popup.png
  documentation/static/img/builder_tool_wiki_adding.png
  documentation/static/img/builder_tool_wiki_selection.png
  documentation/static/img/builder_tools_edit_story.png
  documentation/static/img/library_games_choices.png
  documentation/static/img/library_games_progression.png
  documentation/static/img/library_graph_overview.png
  documentation/static/img/wiki.png
  documentation/static/img/wiki_article_form.png
  documentation/static/img/wiki_created_category.png
  documentation/static/img/wiki_first_article.png
  documentation/static/img/wiki_form.png
  documentation/static/img/wiki_form_creation.png
  documentation/static/img/wiki_homepage.png
  documentation/static/img/wiki_new_category.png
  documentation/static/img/wiki_tools.png
Due: none

adding side effects & modifying builder edit story button
  client/src/builder/components/builder-toolbar.tsx
  documentation/docs/Builder/builder_random_events.mdx
  documentation/docs/Builder/builder_side_effects.mdx
  documentation/static/img/builder_scene_side_effects.png
  documentation/static/img/builder_tool_character_edit.png
  documentation/static/img/builder_tool_character_minus.png
  documentation/static/img/builder_tool_character_setting.png
Due: check-typescript, check-lint, check-format, client-test

adding random events documentation
  documentation/docs/Builder/builder_conditional_actions.mdx
  documentation/docs/Builder/builder_random_events.mdx
  documentation/docs/Builder/builder_side_effects.mdx
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_games_story.mdx
  documentation/docs/Library/library_homepage.mdx
  documentation/docs/Wiki/wiki_creation.mdx
  documentation/static/img/Capture d’écran 2026-05-13 à 15.18.31.png
  documentation/static/img/builder_random_events.png
  documentation/static/img/builder_random_events_settings.png
  documentation/static/img/builder_scene_wiki_link.png
Due: none

adding random events documentation
  documentation/docs/Builder/builder_random_events.mdx
Due: none

:memo: starting library games docs
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_games_story.mdx
  documentation/static/img/Capture d’écran 2026-03-13 à 15.24.14.png
  documentation/static/img/library_progress_summary.png
  documentation/static/img/library_saves_sidebar.png
Due: none

:memo: fixing doc picture RE
  documentation/static/img/builder_random_events_settings.png
Due: none

final v1 doc push
  documentation/docs/Builder/builder_conditional_actions.mdx
  documentation/static/img/builder_conditional_actions_setting.png
  documentation/static/img/builder_conditional_actions_setting_opposite.png
  documentation/static/img/builder_conditional_actions_setting_opposite1.png
  documentation/static/img/builder_conditional_actions_setting_scene1.png
  documentation/static/img/builder_conditional_actions_setting_scene2.png
  documentation/static/img/builder_conditional_actions_setting_scene4.png
Due: none

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  ruff-linting: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
