Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

check-mypy:
  name: Run Mypy in server
  entry: bash -c 'cd server && uv run mypy .'
  language: system
  stages:
  - pre-push

ruff-linting:
  name: Run Linting in server
  entry: bash -c 'cd server && uv run ruff check'
  language: system
  stages:
  - pre-push

check-typescript:
  name: Run Typescript in client
  entry: bash -c 'cd client && bun run typescript'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-lint:
  name: Run eslint in client
  entry: bash -c 'cd client && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-format:
  name: Run prettier in client
  entry: bash -c 'cd client && bun run format:write'
  language: system
  pass_filenames: false
  stages:
  - pre-push

client-test:
  name: Run all client tests
  entry: bash -c 'cd client && bun run test:single'
  language: system
  pass_filenames: false
  stages:
  - pre-push

:sparkles: Only enable wiki integration in rich text on demand
  client/src/design-system/components/editor/components/rich-text-editor.tsx
  client/src/design-system/components/editor/nodes.ts
  client/src/design-system/components/editor/plugins/editor-plugins.tsx
Due: check-typescript, check-lint, check-format, client-test

:lock: Remove variables
  .env
  .gitignore
Due: none

:sparkles: feature chat mode plan github copilot :sparkles:
  .github/chatmodes/Plan.chatmode.md
Due: none

:sparkles: Désactiver l'authentification avec un message d'erreur/tooltip quand on n'a pas de connexion :sparkles:
  client/src/navbar/components/navbar-actions.tsx
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Article selector in rich text editor
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-section.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/wiki-lexical-plugin.tsx
  client/src/builder/components/wiki-selector.tsx
  client/src/design-system/components/editor/components/rich-text-editor.tsx
  client/src/design-system/components/editor/plugins/block-insert-plugin.tsx
  client/src/design-system/components/editor/plugins/editor-plugins.tsx
  client/src/design-system/components/editor/plugins/toolbar/block-insert/insert-image.tsx
  client/src/design-system/components/editor/plugins/wiki-plugin/wiki-plugin.tsx
  client/src/domains/wiki/types.ts
  client/src/game/components/scene.tsx
Due: check-typescript, check-lint, check-format, client-test

:triangular_flag_on_post: Disable wiki plugin for now
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-section.tsx
Due: check-typescript, check-lint, check-format, client-test

Btn delete added
  client/src/domains/game/library-service.ts
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/remote-repository-port.ts
  client/src/repositories/stubs/remote-repository-stub.ts
  server/app/domains/synchronization/repositories/port.py
  server/app/domains/synchronization/repositories/synchronization_repository.py
  server/app/domains/synchronization/service.py
  server/app/endpoints/synchronization/delete_progress.py
  server/app/main.py
  server/app/tests/test_delete_progress.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

fix checking Github Actions for server
  server/app/domains/synchronization/tests/test_synchronization_service.py
Due: check-mypy, ruff-linting

Functionality adjustment
  client/src/library/game-detail.tsx
  server/app/endpoints/synchronization/delete_progress.py
  server/app/main.py
  server/app/tests/test_delete_progress.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

Revert ":sparkles: feature chat mode plan github copilot :sparkles:"
  .github/chatmodes/Plan.chatmode.md
Due: none

:sparkles: desactivation de l'auth hors ligne sur la navbar mobile :sparkles:
  client/src/navbar/mobile-navbar.tsx
Due: check-typescript, check-lint, check-format, client-test

:pencil2: english only :pencil2:
  client/src/navbar/components/navbar-actions.tsx
  client/src/navbar/mobile-navbar.tsx
Due: check-typescript, check-lint, check-format, client-test

Page progress
  client/bun.lock
  client/package.json
  client/src/library/game-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:adhesive_bandage: pas de tooltip sur mobile, juste le bouton grisé hors ligne :adhesive_bandage:
  client/src/navbar/mobile-navbar.tsx
Due: check-typescript, check-lint, check-format, client-test

btn just add save
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

add wiki in game
  client/bun.lock
  client/package.json
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-section.tsx
  client/src/design-system/components/editor/nodes/wiki-node.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD
  client/src/library/game-detail.tsx
  client/src/library/saves-detail.tsx
Due: check-typescript, check-lint, check-format, client-test

:adhesive_bandage: bye bye le .env :adhesive_bandage:
  .env
Due: none

fix review
  client/package.json
  client/src/design-system/components/editor/nodes/wiki-node.tsx
Due: check-typescript, check-lint, check-format, client-test

:fire: revert lock changes
  client/bun.lock
Due: check-typescript, check-lint, check-format, client-test

:bug: Fix insert image bug in wiki + clean plugin management in editor
  client/src/design-system/components/editor/hooks/use-toolbar-context.tsx
  client/src/design-system/components/editor/hooks/use-update-toolbar.ts
  client/src/design-system/components/editor/plugins/editor-plugins.tsx
  client/src/design-system/components/editor/plugins/images-plugin/insert-image-form.tsx
  client/src/design-system/components/editor/plugins/toolbar/block-insert/insert-image.tsx
  client/src/design-system/components/editor/plugins/toolbar/font-format-toolbar-plugin.tsx
  client/src/design-system/components/editor/plugins/toolbar/insert-image.tsx
  client/src/design-system/components/editor/plugins/toolbar/toolbar-plugin.tsx
Due: check-typescript, check-lint, check-format, client-test

Fix for CI/CD 2
  client/src/library/game-detail.tsx
  client/src/library/hooks/use-delete-progress.ts
  client/src/library/saves-detail.tsx
  client/src/repositories/remote-api-repository.ts
  client/src/repositories/stubs/remote-repository-stub.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Builder - basic shortcuts implementation
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:label: Fix types
  client/src/builder/hooks/use-add-scenes.ts
  client/src/builder/hooks/use-builder-shortcuts.ts
Due: check-typescript, check-lint, check-format, client-test

:rewind: Reverts 🎨 added scene constants
  client/src/builder/components/builder-editor-bar/scene-editor/scene-content-section.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/scene-form.tsx
  client/src/builder/components/builder-menu.tsx
  client/src/builder/components/nodes/scene/scene-constants.ts
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-add-scenes.ts
  client/src/builder/hooks/use-builder-actions.ts
  client/src/builder/hooks/use-builder-edges.tsx
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/builder/hooks/use-copy-paste.ts
  client/src/design-system/components/editor/components/rich-text-editor.tsx
  client/src/design-system/primitives/card.tsx
  client/src/domains/game/library-service.ts
  client/src/globals.css
  client/src/lib/scene-content.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: Remove type checking
  client/src/builder/hooks/use-add-scenes.ts
  client/src/design-system/components/editor/components/rich-text-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

:goal_net: fix shortcut interupting inputs
  client/src/builder/components/builder.tsx
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/lib/scene-content.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: refactor `use-mouse-position.ts`
  client/src/hooks/use-mouse-position.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Builder - escape key binding
  client/src/builder/hooks/use-builder-shortcuts.ts
Due: check-typescript, check-lint, check-format, client-test

:rewind: revert :label: strict scene content typing
  client/src/builder/hooks/use-add-scenes.ts
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/lib/scene-content.ts
Due: check-typescript, check-lint, check-format, client-test

:goal_net: fix pasting text in builder
  client/src/builder/hooks/use-copy-paste.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: followed up on feedback & :sparkles: simple aux interaction
  client/src/builder/components/nodes/scene/scene.tsx
  client/src/builder/hooks/use-add-scenes.ts
  client/src/builder/hooks/use-builder-shortcuts.ts
  client/src/builder/hooks/use-copy-paste.ts
  client/src/hooks/use-mouse-position.ts
Due: check-typescript, check-lint, check-format, client-test

:recycle: split logic
  client/src/builder/hooks/use-add-scenes.ts
Due: check-typescript, check-lint, check-format, client-test

:bulb: update comment after considerations
  client/src/lib/scene-content.ts
Due: check-typescript, check-lint, check-format, client-test

Path conditions:
  check-mypy: any of: ^server/.*\.pyi?$
  ruff-linting: any of: ^server/.*\.pyi?$
  check-typescript: any of: ^client/
  check-lint: any of: ^client/
  check-format: any of: ^client/
  client-test: any of: ^client/
