Repository JeremieLeymarie/story-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      # Compile requirements
      - id: pip-compile
        args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-mypy
        name: Run Mypy in server
        entry: bash -c 'cd server && uv run mypy .'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: ruff-linting
        name: Run Linting in server
        entry: bash -c 'cd server && uv run ruff check'
        language: system
        files: ^server/.*\.pyi?$
        stages: [pre-push]

      - id: check-typescript
        name: Run Typescript in client
        entry: bash -c 'cd client && bun run typescript'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-lint
        name: Run eslint in client
        entry: bash -c 'cd client && bun run lint'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: check-format
        name: Run prettier in client
        entry: bash -c 'cd client && bun run format:write'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

      - id: client-test
        name: Run all client tests
        entry: bash -c 'cd client && bun run test:single'
        language: system
        pass_filenames: false
        files: ^client/
        stages: [pre-push]

Address PR #398 review feedback
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/lib/http-client/adapters.ts
  client/src/lib/http-client/schema.d.ts
  client/src/lib/storage/dexie/dexie-db.ts
  server/app/domains/synchronization/repositories/adapters.py
  server/app/domains/synchronization/tests/test_mongo_synchronization_repository.py
  server/app/domains/synchronization/tests/test_synchronization_service.py
  server/app/domains/synchronization/type_defs.py
  server/app/endpoints/synchronization/type_defs.py
  server/app/tests/test_synchronization_load.py
  server/app/tests/test_synchronization_story_progress.py
  server/app/utils/mongo/base_repository.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

change save order when playing one. add clickable save to change progress stat display
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/library-service.ts
  client/src/lib/storage/dexie/dexie-db.ts
  client/src/lib/storage/domain.ts
  client/src/repositories/stubs/data.ts
Due: check-typescript, check-lint, check-format, client-test

Fix progress history handling (#309)
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/domains/game/library-service.ts
Due: check-typescript, check-lint, check-format, client-test

fix lint
  client/src/domains/game/game-service.ts
Due: check-typescript, check-lint, check-format, client-test

fix pr comments
  client/src/domains/game/game-service.ts
  server/app/domains/synchronization/repositories/adapters.py
Due: check-mypy, ruff-linting, check-typescript, check-lint, check-format, client-test

suppression du form des evenement aleatoire
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/random-event-editor.tsx
Due: check-typescript, check-lint, check-format, client-test

:label: Add port to game service
  client/src/domains/game/game-service.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: fixing review comments
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_homepage.mdx
  documentation/static/img/library_games.png
Due: none

:memo: library doc + import explanation
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_homepage.mdx
  documentation/static/img/library_explorer_import.png
  documentation/static/img/library_game_view.png
  documentation/static/img/library_homepage.png
  documentation/static/img/library_import_info.png
  documentation/static/img/library_import_popup.png
  documentation/static/img/library_import_success.png
  documentation/static/img/library_navbar_button.png
Due: none

suppression du form des evenement aleatoire
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/actions-form.tsx
Due: check-typescript, check-lint, check-format, client-test

:truck: Move action visibility logic to service
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/domains/game/game-service.ts
  client/src/game/components/scene-action.tsx
  client/src/game/hooks/__tests__/use-action-visibility.test.ts
  client/src/game/hooks/use-action-visibility.ts
Due: check-typescript, check-lint, check-format, client-test

:white_check_mark: Add character atrribute condition tests
  client/src/domains/game/__tests__/game-service.test.ts
  client/src/game/components/scene-action.tsx
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Implement conditional action on character attribute
  client/src/domains/game/game-service.ts
Due: check-typescript, check-lint, check-format, client-test

:coffin: Remove isEditableByPlayer on character's attributes
  client/src/builder/components/builder-editor-bar/character-editor/attribute-form.tsx
  client/src/builder/components/builder-editor-bar/character-editor/character-editor.tsx
  client/src/domains/builder/__tests__/character-repository.test.ts
  client/src/domains/builder/__tests__/character-service.test.ts
  client/src/domains/game/__tests__/library-service.test.ts
  client/src/domains/game/library-service.ts
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
  client/src/services/common/__tests__/import-service.test.ts
  client/src/services/common/schema.ts
Due: check-typescript, check-lint, check-format, client-test

:memo: fixing docs errors
  documentation/docs/Builder/builder_engine.mdx
  documentation/docs/Builder/story-creation.mdx
  documentation/docs/Library/library_games.mdx
  documentation/docs/Library/library_homepage.mdx
Due: none

:building_construction: Add Side effect domain model
  client/src/lib/storage/domain.ts
Due: check-typescript, check-lint, check-format, client-test

:white_check_mark: Add side effects to test factory
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:art: Naming
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Show visibility state in side effects
  client/src/builder/components/builder-editor-bar/scene-editor/character-attribute-selector.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effect-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effects-form.tsx
  client/src/design-system/primitives/scroll-area.tsx
Due: check-typescript, check-lint, check-format, client-test

:building_construction: Add key to side effects
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:building_construction: Add name to side effects
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:sparkles: Full side effects form
  client/bun.lock
  client/package.json
  client/src/builder/components/builder-editor-bar/scene-editor/action-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-side-effects-form.ts
  client/src/builder/components/builder-editor-bar/scene-editor/side-effect-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effects-form.tsx
  client/src/design-system/components/color-picker/color-picker.tsx
  client/src/design-system/primitives/switch.tsx
  client/src/domains/builder/stubs/stub-builder-service.ts
  client/src/wikis/article.tsx
Due: check-typescript, check-lint, check-format, client-test

:building_construction: Add attribute key to side effects
  client/src/lib/storage/domain.ts
  client/src/lib/testing/factory.ts
Due: check-typescript, check-lint, check-format, client-test

:construction: Basic version of side effect form
  client/bun.lock
  client/package.json
  client/src/builder/components/builder-editor-bar/character-editor/character-editor.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/character-attribute-selector.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/character-condition-section.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/hooks/use-side-effects-schema.ts
  client/src/builder/components/builder-editor-bar/scene-editor/scene-editor.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effect-item.tsx
  client/src/builder/components/builder-editor-bar/scene-editor/side-effects-form.tsx
  client/src/design-system/primitives/switch.tsx
  client/src/domains/builder/builder-service.ts
  client/src/domains/builder/ports/builder-service-port.ts
Due: check-typescript, check-lint, check-format, client-test

:bulb: Explain shadcn modification
  client/src/design-system/primitives/scroll-area.tsx
Due: check-typescript, check-lint, check-format, client-test
